<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WonderStay</title>
</head>

<body>
  <h3>Edit Listing</h3>
  <form method="POST" action="/listings/<%= listing._id %>?_method=put">
    <input type="text" value="<%= listing.title %>" name="listing[title]">
    <br>
    <textarea name="listing[description]" ><%= listing.description %></textarea>
    <br>
    <input type="text" value="<%= listing.image %>" name="listing[image]">
    <br>
    <input type="number" value="<%= listing.price %>" name="listing[price]">
    <br>
    <input type="text" value="<%= listing.country %>" name="listing[country]">
    <br>
    <input type="text" value="<%= listing.location %>" name="listing[location]">
    <br>
    <button>Edit </button>
</body>

</html>